//FONTS
//lato
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$principal-font: 'Lato', sans-serif;

//colours
$bg-body: #444445;
$bg-dark-grey: #3A3A3A;
$bg-light-grey: #BCBCBC;
$light-grey: #BCBCBC;
$border-grey: #ECE9E9;
$font-grey: #BDB9B9;
