@use "../base/variables" as v;

canvas {
  // width: 100%;
  max-width: 800px;
  height: 500px;
  border: 1px solid v.$border-dark-grey;
  border-radius: 15px;
  background-color: v.$bg-dark-grey;
  box-sizing: border-box;
}